$source-sans: 'Source Sans Pro', sans-serif;
$poppins: 'Poppins', sans-serif;

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

body {
  min-width: 300px; 
  font-family: $source-sans;
}

.btn {
  background: #FFC300;
  border-radius: 24px;
  padding: 12px 0;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  max-width: 170px;
  cursor: pointer;
  display: block;
}

h1 {
  font-family: $poppins;
  font-size: 4.5rem;
  max-width: 449px;
  padding-bottom: 26px;
}

h2 {
  font-family: $poppins;
  font-weight: bold;
  font-size: 56px;
  color: #333333;
  padding-bottom: 23px;
  line-height: 64px;
}

.title-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}

header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  padding: 17px 0 15px;
  background-color: rgba(90, 39, 164, 0.8);

  .wrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 120px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }

  nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .menu__box {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    .menu__item {
      font-family: $source-sans;
      font-weight: 600;
      text-transform: capitalize;

      .menu__link {
        color: #ffffff;
      }
    }
  }
  
  .btn-box {
    display: flex;
  }

  .btn-box__menu {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    
    span, span:before, span:after {
      position: absolute;
      width: 24px;
      height: 4px;
      background-color: #ffffff;
    }

    span:before {
      content: '';
      top: -8px;
    }

    span:after {
      content: '';
      top: 8px;
    }
  }

  form {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-right: 32px;  

    input{
      position: absolute;
      right: 0;
      outline: 0;
      transition: all 1s;
      border: 0;
      width: 24px;
      height: 24px;;
      font-size: 1rem;
      padding: 5px;
      z-index: 2;
      background-color: transparent;
    }
    
    input:focus {
      width: 150px;
      height: 35px;
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 10px;
    }

    span {
      display: block;
      border-radius: 5px;
      color: #ffffff;
      text-align: center;
      font-size: 1.2em;
    }
  }
}

.container-phone {
  position: relative;
}

.preview {
  background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .description {
    font-weight: 600;
    padding-bottom: 34px;
    max-width: 570px;
  }
}

#menu__toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.btn-box__menu.active span{
  transform: rotate(45deg);
}
.btn-box__menu.active span:before {
  top: 0;
  transform: rotate(0);
}
.btn-box__menu.active span:after {
  top: 0;
  transform: rotate(90deg);
}

.sapiente::before {
  content: "";
  display: block;
  background: url(../img/background-phones.png) no-repeat 100% 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-size: 100%;
}

.sapiente {
  padding: 55px 64px;

  h2 {
    text-align: center;
  }

  .title-text {
    padding-bottom: 32px;
    max-width: 570px;
    margin: 0 auto;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 32px;  
  }

  .item {
    padding: 40px 24px 32px;
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item__icon {
      padding-bottom: 11px;
    }

    .item__title {
      font-family: $poppins;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      color: #333333;
      padding-bottom: 9px;
    }

    .item__description {
      text-align: center;
      color: #333333;
      opacity: 0.5;
    }
  }
}

.reiciendis {
  background: #fdf2ff;
  padding: 144px 0 112px;
  display: flex;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }

  .img {
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    border-radius: 3px;
    max-width: 570px;
    width: 100%;
    max-height: 512px;
    position: relative;
    min-height: 292px;
  }

  img {
    position: absolute;
    top: -32px;
    right: -30px;
    width: 100%;
    height: 100%;
  }

  .title-text {
    padding-bottom: 6px;
    text-align: left;
  }

  .description {
    max-width: 470px;
    font-weight: 400;
    opacity: 0.5;
    padding-bottom: 36px;
  }

  .static {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .static__number {
    font-family: $poppins;
    font-weight: bold;
    font-size: 40px;
    color: #333333;
  }

  .static__text {
    font-weight: 600;
    font-size: 12px;
  }

  .btn {
    background: #C86DD7;
    padding: 12px 0;
    margin: 40px 0 0;
  }
}

.asperiores {
  background-color: #ffffff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
      max-width: 453px;
      max-height: 768px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .title-text{
    text-align: left;
    padding-bottom: 54px;
    max-width: 570px;
  }

  .progress {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;

    .progress__icon {
      max-width: 50px;
      height: 46px;
      width: 100%;
      padding-bottom: 7px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .progress__title {
      font-family: $poppins;
      font-weight: bold;
      font-size: 24px;
      padding-bottom: 9px;
    }

    .progress__text {
      font-size: 16px;
      opacity: 0.5;
    }
  }
}

.services {
  background: #fdf2ff;
  padding: 55px 0 112px;

  h2 {
    text-align: center;
    padding-bottom: 23px;
  }

  .title-text {
    max-width: 570px;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  .content-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 16px;

    .content-services__item {
      padding: 53px 0 48px;
      text-align: center;
      background-color: white;
      box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
      border-radius: 3px;
    }

    .content-services__item:hover {
      background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    }

    .content-services__item:hover p {
      color: #ffffff;
    }

    .content-services__item:hover .btn {
      background: #FFC300;
      color: #ffffff;
      border: 0;
    }

    .content-services__name {
      font-family: $poppins;
      font-weight: 700;
      font-size: 1.5rem;
      padding-bottom: 7px;
    }

    .content-services__price {
      font-family: $poppins;
      font-weight: 700;
      font-size: 4.5rem;
      padding-bottom: 26px;
    }

    .content-services__desc {
      display: flex;
      justify-content: center;
      padding-bottom: 8px;
      font-weight: 400;
      color: #333333;
    }

    .content-services__desc:last-child {
      padding-bottom: 42px;
    }

    .content-services__desc:before {
      display: block;
      content: "\00B7";
      padding-right: 3px;
    }

    .btn {
      border: 1px solid #C86DD7;
      background-color: #ffffff;
      color: #C86DD7;
      margin: 0 auto;
      box-sizing: border-box;
    }
  }
}

.reviews {
  padding: 55px 0 64px;
  background-color: #ffffff;

  h2 {
    text-align: center;
  } 

  .title-text {
    max-width: 570px;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .reviews__item {
    padding: 48px 32px 59px;
    display: none;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    animation-name: slider;
    animation-duration: 2.5s;
  }

  .reviews__item:first-child {
    display: flex;
  }

  .reviews__item:nth-child(2) {
    display: flex;
  }

  @keyframes slider {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
  }

  .reviews__item:last-child {
    margin-right: 0;
  }

  .reviews__img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    padding-bottom: 18px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .reviews__commet {
    text-align: center;
    color: #333333;
    opacity: 0.5;
    padding-bottom: 13px;
  }

  .reviews__person {
    font-family: $poppins;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #333333;
  }

  .reviews__item:hover {
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
  }

  .reviews__item:hover p {
    color: #ffffff;
  }

  .nav {
    display: flex;
    justify-content: center;
    padding-top: 48px;

    .slider-btn {
      width: 48px;
      height: 48px;
      border: 1px solid #C86DD7;
      box-sizing: border-box;
      border-radius: 24px;
      cursor: pointer;
    }

    .slider-btn:focus{
      outline: none;
    }

    .prev {
      background: url(../img/slider-prev.png) no-repeat;
      background-position: center;
      margin-right: 8px;
    }

    .next {
      background: url(../img/slider-next.png) no-repeat;
      background-position: center;
    }
  }
}

.vetrin {
  background: #E5E5E5;
  padding: 63px 0 112px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 65px;
    flex-wrap: wrap;

    .btn {
      max-width: 170px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #C86DD7;
      color: #C86DD7;
    }
  }

  .title-text {
    text-align: left;
    max-width: 370px;
    font-weight: 400;
    opacity: 0.5;
  }

  .vetrin__item {
    display: flex;
    align-items: flex-end;
    min-height: 570px;
    background-size: cover;
    padding: 0 0 40px 32px;

    .name {
      font-size: 24px;
      color: #ffffff;
      font-weight: bold;
      font-family: $poppins;
      padding-bottom: 11px;
    }
    
    .text {
      font-weight: 600;
      font-size: 12px;
      color: #ffffff;
    }
  }

  .vetrin__item:nth-child(1) {
    background: url(../img/vetrin-1.jpg) no-repeat;
    background-size: cover;

    .name {
      max-width: 230px;
    }
  }

  .vetrin__item:nth-child(2) {
    background: url(../img/vetrin-2.jpg) no-repeat;
    background-size: cover;

    .name {
      max-width: 150px;
    }
  }
  
  .vetrin__item:nth-child(3) {
    background: url(../img/vetrin-3.jpg) no-repeat;
    background-size: cover;

    .name {
      max-width: 150px;
    }
  }
}

.vetrin__container {
  display: grid;
  grid-template-columns: 2.2fr 1fr 1fr;
  grid-gap: 30px;
}

.subscription {
  background: #ffffff;
  padding: 144px 0 112px;
  display: flex;
  align-items: center;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
  }

  .img {
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    border-radius: 3px;
    max-width: 570px;
    width: 100%;
    min-height: 292px;
    position: relative;
  }

  img {
    position: absolute;
    top: -32px;
    right: -30px;
    width: 100%;
    height: 100%;
  }

  .title-text {
    text-align: left;
    padding-bottom: 15px;
    max-width: 470px;
  }

  .description {
    max-width: 470px;
    color: #333333;
    opacity: 0.5;
    padding-bottom: 38px;
  }

  form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;

    .btn {
      max-width: 170px;
      width: 100%;
      background: #C86DD7;
      border: 0;
    }

    .email {
      flex-grow: 1;
      margin-right: 30px;
      background: #FFFFFF;
      border: 1px solid #DADADA;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 12px 0 12px 16px;
      color: #333333;
      opacity: 0.5;
    }
  }

  .subscription-desc {
    font-weight: 600;
    font-size: 12px;
    color: #333333;
  }
}

.news {
  padding: 55px 0 96px;
  background: #fdf2ff;

  h2 {
    text-align: left;
    padding-bottom: 57px;
  }

  .news__content {
    display: flex;
    justify-content: space-between;

    .news__item {
      margin-right: 30px;
      background-color: #ffffff;
      box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
      border-radius: 3px;
      flex-grow: 1;

      .img {
        height: 240px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .box {
        padding: 32px 32px 50px;

        .news__date {
          font-size: 12px;
          color: #333333;
          padding-bottom: 13px;
          text-align: left;
        }

        .news__name {
          font-family: $poppins;
          font-weight: bold;
          font-size: 24px;
          color: #333333;
          padding-bottom: 25px;
        }

        .news__text {
          color: #333333;
          opacity: 0.5;
        }
      }
    }

    .news__item:last-child {
      margin-right: 0;
    }
  }
}

.contact-us {
  padding: 96px 0 112px;
  background-color: #ffffff;

  .container {
    display: flex;
    justify-content: space-between;

    .box {
      flex-grow: 1;
    }
  }

  h2 {
    text-align: left;
    padding-bottom: 39px;
  }

  .description {
    color: #333333;
    opacity: 0.5;
    max-width: 470px;
    margin-bottom: 23px;
  }

  .contact-us__name-adress, .contact-us__name-phone {
    font-family: $poppins;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333333;
    padding-bottom: 25px;
  }

  .contact-us__content-adress {
    color: #333333;
    opacity: 0.5;
    padding-bottom: 39px;
    max-width: 270px;
  }

  .contact-us__content-phone, .contact-us__content-email {
    font-weight: 400;
    color: #333333;
    opacity: 0.5;
  }

  .contact-us__content-email {
    padding-bottom: 50px;
  }

  .social {
    display: flex;
    justify-content: flex-start;

    li {
      margin-right: 8px;

      a {
        display: block;
        width: 32px;
        height: 32px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }

  form {
    padding: 37px 32px 48px;
    background: #FFFFFF;
    box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.0994678);
    border-radius: 3px;
    flex-grow: 2;

    .form__name {
      font-family: $poppins;
      font-weight: 700;
      font-size: 1.5rem;
      color: #333333;
      padding-bottom: 31px;
    }

    .form__input-name {
      padding-bottom: 13px;
      font-weight: 700;
      font-size: 0.875rem;
      padding-top: 20px;
    }

    .form__input-name_us {
      padding-top: 0;
    }

    .form__input {
      padding: 12px 0 12px 16px;
      border: 1px solid #DADADA;
      box-sizing: border-box;
      border-radius: 3px;
      width: 100%;
      color: #333333;
      opacity: 0.5;
    }

    .form__input_text {
      min-height: 112px;
    }

    .btn {
      margin-top: 32px;
      max-width: 100%;
      width: 100%;
      background: #C86DD7;
      border: 0;
    }
  }
}

footer {
  padding: 62px 0 42px;
  background: #fdf2ff;
  position: relative;

  .footer__menu {
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;
    
    .footer__item p {
      font-weight: 600;
      color: #333333;
      padding-bottom: 8px;
    }

    .consectetur__item, .tempor__item, .magna__item {
      max-width: 238px;
      color: #333333;
      opacity: 0.5;
      padding-bottom: 8px;
    }

    .footer__item li:last-child {
      padding-bottom: 0;
    }

    form {
      padding-top: 2px;
      display: flex;

      .form-email {
        background: #FFFFFF;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 12px 0 12px 16px;
        color: #333333;
        opacity: 0.5;
        margin-right: 8px;
      }

      .btn {
        background: url(../img/footer-send.png) no-repeat #C86DD7;
        background-position: center;
        width: 48px;
        height: 48px;
        border: 0;
      }
    }

  }

  .copyright {
    text-align: center;
    color: #333333;
    opacity: 0.5;
  }
}

footer:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 95px;
  border-bottom: 1px solid #333333;
  width: 100%;
  opacity: 0.1;
}

@media (max-width: 1440px){
  .wrapper {
    padding: 0 15px;
  }
}

@media (min-width: 1440px){
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
  }

  .sapiente::before {
    background-size: 80%;
  }
}

@media (min-width: 1025px){
  .sapiente::before {
  }
}

@media (max-width: 768px){  
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }

  .preview {
    justify-content: flex-end;
    padding-bottom: 32px;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .title {
    padding-bottom: 45px;
  }

  .asperiores{
    padding-top: 54px;

    .container {
      flex-direction: column;
    }
  }

  header {
    nav {
      .menu__box {
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        background-color: rgba(90,39,164,1);
        align-items: center;
        display: none;
      }
    }
  }
  
  #menu__toggle:checked ~ .menu__box{
    height: 200px;
    display: flex;
  }

  .sapiente{
    padding-left: 0;
    padding-right: 0;

    .container {
      grid-template-columns: 1fr 1fr;
    }

    .text {
      max-width: 400px;
    }
  } 

  .services {
    .content-services {
      grid-template-columns: 1fr 1fr;
    }
  }

  .reviews {
    .slider {
      grid-template-columns: 1fr;
    }
  } 
  .vetrin__container {
    grid-template-columns: 1fr 1fr;
  }

  .subscription {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 100px;
    }
  } 

  .news {
    .news__content {
      flex-wrap: wrap;

      .news__item {
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  } 

  .contact-us {
    .container{
      flex-wrap: wrap;

      .box {
        padding-bottom: 64px;
      }
    }
  }

  footer {
    .footer__menu {
      flex-wrap: wrap;
      padding-bottom: 48px;

      .footer__item {
        padding-bottom: 16px;
      }
    }
  }

  .reiciendis {
    .container {
      grid-template-columns: 1fr;
    }
  } 

  .reiciendis {
    img {
      top: -18px;
      right: -17px;
      object-fit: cover;
    }
  }
  
  .subscription {
    img {
      top: -18px;
      right: -17px;
      object-fit: cover;
    }
  } 
}

@media (max-width: 480px){

  h1 {
    font-size: 2.5rem;
  }

  .asperiores .progress {
    grid-template-columns: 1fr;

    .progress__text {
      max-width: 270px;
    }
  }

  .sapiente {
    .container {
      grid-template-columns: 1fr;
    }

    .title-text {
      max-width: 297px; 
    }
  }
  
  .services {
    .content-services {
      grid-template-columns: 1fr;
    }
  }

  .subscription {
    form {
      flex-wrap: wrap;

      .email {
        margin-bottom: 16px;
      }
    }
  } 

  .vetrin__container {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}


