<!DOCTYPE html>
html(lang="ru")
    head
        title Diplom Project
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" crossorigin="anonymous" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/main.css")
    body
        header
            div.wrapper
                div.wrapp
                    div.wrapper
                        div.logo
                            a(href="#")
                                img(src="img/logo.png" alt="logo")
                        nav.menu 
                            input(id="menu__toggle" type="checkbox")
                            label.menu__btn(for="menu__toggle")
                                span
                            ul.menu__box
                                li
                                    a.menu__item(href="#") Home
                                li
                                    a.menu__item(href="#") Features
                                li
                                    a.menu__item(href="#") Works
                                li
                                    a.menu__item(href="#") About
                                li
                                    a.menu__item(href="#") People
                                li
                                    a.menu__item(href="#") News
                                li
                                    a.menu__item(href="#") Contacts
                            form.search(action="" tabindex="0")
                                input.search__input(type="search")
                                span &#128269;
                h1  Sint et molestiae recusandae
                p.description.
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a.btn(href="#") Read more
        section.sapiente
            div.wrapper
                h2  Sapiente delectus
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.container
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-1.png" alt="sapiente")
                        p.item__title Consequuntur
                        p.item__description Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-2.png" alt="sapiente")
                        p.item__title Voluptatem
                        p.item__description Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-3.png" alt="sapiente")
                        p.item__title Quisquam
                        p.item__description Quis nostrum exercitationem ullam corporis suscipit laboriosam
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-4.png" alt="sapiente")
                        p.item__title Aliquid
                        p.item__description Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-5.png" alt="sapiente")
                        p.item__title Excepteur
                        p.item__description Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-6.png" alt="sapiente")
                        p.item__title Accusamus
                        p.item__description Odio dignissimos ducimus qui blanditiis praesentium voluptatum
        section.reiciendis
            div.wrapper
                div.container
                    div.img
                        img(src="img/reiciendis.jpg" alt="reiciendis")
                    div.desc
                        h2 Reiciendis voluptatibus
                        p.title Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        p.description.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        ul.static
                            li.static__item
                                p.static__number 42%
                                p.static__text Alias consequatur
                            li.static__item
                                p.static__number +73
                                p.static__text Perferendis doloribus
                        a.btn Features
        section.asperiores
            div.wrapper
                div.container
                    div.description
                        h2 Asperiores repellat
                        p.title Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        ul.progress
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-1.png" alt="progress")
                                p.progress__title Eiusmod
                                p.progress__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-2.png" alt="progress")
                                p.progress__title Tempor
                                p.progress__text Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-3.png" alt="progress")
                                p.progress__title Consequat
                                p.progress__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-4.png" alt="progress")
                                p.progress__title Dolore
                                p.progress__text Unde omnis iste natus error sit voluptatem accusantium
                    div.img
                        img(src="img/asperiores.png" alt="asperiores")
        main.services
            div.wrapper 
                h2 Totam aperiam
                p.title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.content-services
                    li.content-services__item
                        p.content-services__name Sunt in culpa
                        p.content-services__price $9
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
                    li.content-services__item
                        p.content-services__name Distinctio
                        p.content-services__price $18
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
                    li.content-services__item
                        p.content-services__name Soluta nobis
                        p.content-services__price $97
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
        section.reviews
            div.wrapper
                h2 Eaque ipsa
                p.title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.slider
                    li.reviews__item
                        div.reviews__img
                            img(src="img/slider-1" alt="slider")
                        p.reviews__commet "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                        p.reviews__person Vikentiy Chaykovsky

                            