<!DOCTYPE html>
html(lang="ru")
    head
        title Diplom Project
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" crossorigin="anonymous" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="styles/main.css")
    body
        header
            div.wrapper
                div.logo
                    a(href="#")
                        img(src="img/logo.png" alt="logo")
                nav.menu 
                    input(id="menu__toggle" type="checkbox")
                    ul.menu__box
                        li.menu__item
                            a.menu__link(href="#") Home
                        li.menu__item
                            a.menu__link(href="#") Features
                        li.menu__item
                            a.menu__link(href="#") Works
                        li.menu__item
                            a.menu__link(href="#") About
                        li.menu__item
                            a.menu__link(href="#") People
                        li.menu__item
                            a.menu__link(href="#") News
                        li.menu__item
                            a.menu__link(href="#") Contacts
                form.search(action="" tabindex="0")
                    input.search__input(type="search")
                    span &#128269;
                div.btn-box
                    label.btn-box__menu(for="menu__toggle")
                        span
        section.preview
            div.wrapper
                h1  Sint et molestiae recusandae
                p.description.
                    Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                a.btn(href="#") Read more
        section.sapiente
            div.wrapper
                h2  Sapiente delectus
                p.text.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.container
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-1.png" alt="sapiente")
                        p.item__title Consequuntur
                        p.item__description Enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-2.png" alt="sapiente")
                        p.item__title Voluptatem
                        p.item__description Sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-3.png" alt="sapiente")
                        p.item__title Quisquam
                        p.item__description Quis nostrum exercitationem ullam corporis suscipit laboriosam
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-4.png" alt="sapiente")
                        p.item__title Aliquid
                        p.item__description Quis autem vel eum iure reprehenderit voluptate velit esse quam nihil
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-5.png" alt="sapiente")
                        p.item__title Excepteur
                        p.item__description Sint occaecat cupidatat non proident culpa qui officia deserunt mollit anim
                    li.item
                        div.item__icon 
                            img(src="img/sapiente-6.png" alt="sapiente")
                        p.item__title Accusamus
                        p.item__description Odio dignissimos ducimus qui blanditiis praesentium voluptatum
        section.reiciendis
            div.wrapper
                div.container
                    div.img
                        img(src="img/reiciendis.jpg" alt="reiciendis")
                    div.desc
                        h2 Reiciendis voluptatibus
                        p.title Nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        p.description.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        ul.static
                            li.static__item
                                p.static__number 42%
                                p.static__text Alias consequatur
                            li.static__item
                                p.static__number +73
                                p.static__text Perferendis doloribus
                        a.btn(href="#") Features
        section.asperiores
            div.wrapper
                div.container
                    div.description
                        h2 Asperiores repellat
                        p.title Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        ul.progress
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-1.png" alt="progress")
                                p.progress__title Eiusmod
                                p.progress__text Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-2.png" alt="progress")
                                p.progress__title Tempor
                                p.progress__text Duis aute irure dolor in reprehenderit voluptate velit esse cillum dolore
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-3.png" alt="progress")
                                p.progress__title Consequat
                                p.progress__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                            li.progress__item
                                div.progress__icon    
                                    img(src="img/progress-4.png" alt="progress")
                                p.progress__title Dolore
                                p.progress__text Unde omnis iste natus error sit voluptatem accusantium
                    div.img
                        img(src="img/asperiores.png" alt="asperiores")
        main.services
            div.wrapper 
                h2 Totam aperiam
                p.title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.content-services
                    li.content-services__item
                        p.content-services__name Sunt in culpa
                        p.content-services__price $9
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
                    li.content-services__item
                        p.content-services__name Distinctio
                        p.content-services__price $18
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
                    li.content-services__item
                        p.content-services__name Soluta nobis
                        p.content-services__price $97
                        ul.content-services__description
                            li.content-services__desc Qui officia deserunt         
                            li.content-services__desc Mollitia animi       
                            li.content-services__desc Laborum et dolorum   
                        a.btn(href="#") Buy plan    
        section.reviews
            div.wrapper
                h2 Eaque ipsa
                p.title Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                ul.slider
                    li.reviews__item
                        div.reviews__img
                            img(src="img/slider-1.png" alt="slider")
                        p.reviews__commet "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                        p.reviews__person Vikentiy Chaykovsky
                    li.reviews__item
                        div.reviews__img
                            img(src="img/slider-2.png" alt="slider")
                        p.reviews__commet "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                        p.reviews__person Richardo Kann
                    li.reviews__item
                        div.reviews__img
                            img(src="img/slider-2.png" alt="slider")
                        p.reviews__commet "Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                        p.reviews__person Richardo Kann
                    li.reviews__item
                        div.reviews__img
                            img(src="img/slider-1.png" alt="slider")
                        p.reviews__commet "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident."
                        p.reviews__person Vikentiy Chaykovsky
                div.nav
                    button(type="button" role="presentation" class="slider-btn prev")
                    button(type="button" role="presentation" class="slider-btn next")
        section.vetrin 
            div.wrapper
                div.container
                    h2 Veritatis
                    div.title Placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    a.btn See all
                ul.vetrin__container
                    li.vetrin__item
                        div.box
                            p.name Iste natus error sit voluptatem
                            p.text Accusantium doloremque
                    li.vetrin__item
                        div.box
                            p.name Totam rem aperiam
                            p.text Eaque ipsa
                    li.vetrin__item
                        div.box
                            p.name Quae ab illo inventore
                            p.text Veritatis
        section.subscription 
            div.wrapper
                div.container
                    div.img
                        img(src="img/subscription.jpg" alt="subscription")
                    div.desc
                        h2 Poris suscipit laboriosam
                        p.title Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                        p.description.
                           Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                        form(action="#")
                            input.email(type="email" name="emil" placeholder="Your email")
                            input.btn(type="submit" value="Contact us")
                        p.subscription-desc Quis nostrum exercitationem
        section.news
            div.wrapper
                h2 Nisi aliquid
                ul.news__content
                    li.news__item
                        a(href="#")
                            div.img
                                img(src="img/news-1.jpg" alt="news")
                            div.box
                                p.news__date June 01/ 2019
                                p.news__name Dolorem eum fugiat quo voluptas
                                p.news__text Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae.
                    li.news__item
                        a(href="#")
                            div.img
                                img(src="img/news-2.jpg" alt="news")
                            div.box
                                p.news__date June 02/ 2019
                                p.news__name Accusamus et iusto odio dignissimos
                                p.news__text Atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
                    li.news__item
                        a(href="#")
                            div.img
                                img(src="img/news-3.jpg" alt="news")
                            div.box
                                p.news__date June 03/ 2019
                                p.news__name Ducimus qui blanditiis praesentium
                                p.news__text Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta.
        section.contact-us
            div.wrapper 
                div.container   
                    div.box
                        h2 Repudiandae
                        p.description.
                            Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias.
                        p.contact-us__name-adress Aspernatur
                        p.contact-us__content-adress 123 earum rerum hic tenetur a sapiente delectus, 42
                        p.contact-us__name-phone Reiciendis
                        p.contact-us__content-phone
                            a(href="tel:+1234 567 89 01") +1 (234) 567 89 01
                        p.contact-us__content-email 
                            a(href="mailto:maiores@info.com") maiores@info.com
                        ul.social
                            li.fc
                                a(href="#")
                                    img(src="img/social-1.png" alt="social")
                            li.tv
                                a(href="#")
                                    img(src="img/social-2.png" alt="social")
                            li.inst
                                a(href="#")
                                    img(src="img/social-3.png" alt="social")
                    form(action="#")
                        p.form__name Alias consequatur
                        p(class="form__input-name form__input-name_us") Your name
                        input.form__input(type="name" name="name" required="required" placeholder="Name")
                        p.form__input-name Your email
                        input.form__input(type="email" name="email" required="required" placeholder="Email")
                        p.form__input-name Your message
                        input(class="form__input form__input_text" type="text" name="text" required="required" placeholder="Message")
                        input.btn(type="submit" name="submit_btn" value="Send")
        footer.footer
            div.wrapper
                ul.footer__menu
                    li.footer__item 
                        p Consectetur
                        ul.consectetur
                            li.consectetur__item Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    li.footer__item 
                        p Tempor
                        ul.tempor
                            li.tempor__item 
                                a(href="#") Sunt in culpa qui officia 
                            li.tempor__item 
                                a(href="") Deserunt mollit anim
                            li.tempor__item 
                                a(href="") Sed ut perspiciatis
                    li.footer__item 
                        p Magna
                        ul.magna
                            li.magna__item 123 dignissimos ducimus, 42
                            li.magna__item 
                                a(href="mailto:minim@info.com") minim@info.com
                            li.magna__item 
                                a(href="tel:+1234 567 89 01") +1 (234) 567 89 01
                    li.footer__item 
                        p Omnis
                        form(action="#")
                            input.form-email(type="email" name="email" required="required" placeholder="Your email")
                            input.btn(type="submit" name="submit_btn" value="")
                p.copyright Copyright 2019. All Rights Reserved.
        script(src="js/script.js")

                        

        

                            